# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/OOP_Lesson3.3/.vs/OOP_Lesson3.3/v16/.suo
/OOP_Lesson3.3/OOP_Lesson3.3.sln
/OOP_Lesson3.3/OOP_Lesson3.3/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
/OOP_Lesson3.3/OOP_Lesson3.3/obj/Debug/net5.0/OOP_Lesson3.3.AssemblyInfo.cs
/OOP_Lesson3.3/OOP_Lesson3.3/obj/Debug/net5.0/OOP_Lesson3.3.AssemblyInfoInputs.cache
/OOP_Lesson3.3/OOP_Lesson3.3/obj/Debug/net5.0/OOP_Lesson3.3.assets.cache
/OOP_Lesson3.3/OOP_Lesson3.3/obj/Debug/net5.0/OOP_Lesson3.3.csproj.AssemblyReference.cache
/OOP_Lesson3.3/OOP_Lesson3.3/obj/Debug/net5.0/OOP_Lesson3.3.GeneratedMSBuildEditorConfig.editorconfig
/OOP_Lesson3.3/OOP_Lesson3.3/obj/OOP_Lesson3.3.csproj.nuget.dgspec.json
/OOP_Lesson3.3/OOP_Lesson3.3/obj/OOP_Lesson3.3.csproj.nuget.g.props
/OOP_Lesson3.3/OOP_Lesson3.3/obj/OOP_Lesson3.3.csproj.nuget.g.targets
/OOP_Lesson3.3/OOP_Lesson3.3/obj/project.assets.json
/OOP_Lesson3.3/OOP_Lesson3.3/obj/project.nuget.cache
/OOP_Lesson3.3/OOP_Lesson3.3/OOP_Lesson3.3.csproj
/OOP_Lesson3.3/OOP_Lesson3.3/Program.cs
/OOP_Lesson3.3/OOP_Lesson3.3/bin/Debug/net5.0/OOP_Lesson3.3.deps.json
/OOP_Lesson3.3/OOP_Lesson3.3/bin/Debug/net5.0/OOP_Lesson3.3.runtimeconfig.dev.json
/OOP_Lesson3.3/OOP_Lesson3.3/bin/Debug/net5.0/OOP_Lesson3.3.runtimeconfig.json
/OOP_Lesson3.3/OOP_Lesson3.3/obj/Debug/net5.0/OOP_Lesson3.3.csproj.CoreCompileInputs.cache
/OOP_Lesson3.3/OOP_Lesson3.3/obj/Debug/net5.0/OOP_Lesson3.3.csproj.FileListAbsolute.txt
/OOP_Lesson3.3/OOP_Lesson3.3/obj/Debug/net5.0/OOP_Lesson3.3.genruntimeconfig.cache
/OOP Lesson4/.vs/OOP Lesson4/v16/.suo
/OOP Lesson4/OOP Lesson4/bin/Debug/net5.0/OOP Lesson4.deps.json
/OOP Lesson4/OOP Lesson4/bin/Debug/net5.0/OOP Lesson4.runtimeconfig.dev.json
/OOP Lesson4/OOP Lesson4/bin/Debug/net5.0/OOP Lesson4.runtimeconfig.json
/OOP Lesson4/OOP Lesson4/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
/OOP Lesson4/OOP Lesson4/obj/Debug/net5.0/OOP Lesson4.AssemblyInfo.cs
/OOP Lesson4/OOP Lesson4/obj/Debug/net5.0/OOP Lesson4.AssemblyInfoInputs.cache
/OOP Lesson4/OOP Lesson4/obj/Debug/net5.0/OOP Lesson4.assets.cache
/OOP Lesson4/OOP Lesson4/obj/Debug/net5.0/OOP Lesson4.csproj.AssemblyReference.cache
/OOP Lesson4/OOP Lesson4/obj/Debug/net5.0/OOP Lesson4.csproj.FileListAbsolute.txt
/OOP_Lesson3.3/.vs/OOP_Lesson3.3/DesignTimeBuild/.dtbcache.v2
/OOP Lesson4/OOP Lesson4/obj/project.nuget.cache
/OOP Lesson4/OOP Lesson4/obj/project.assets.json
/OOP Lesson4/OOP Lesson4/OOP Lesson4.csproj
/OOP Lesson4/OOP Lesson4/obj/OOP Lesson4.csproj.nuget.g.targets
/OOP Lesson4/OOP Lesson4/obj/OOP Lesson4.csproj.nuget.g.props
/OOP Lesson4/OOP Lesson4/obj/OOP Lesson4.csproj.nuget.dgspec.json
/OOP Lesson4/OOP Lesson4/obj/Debug/net5.0/OOP Lesson4.genruntimeconfig.cache
/OOP Lesson4/OOP Lesson4/obj/Debug/net5.0/OOP Lesson4.GeneratedMSBuildEditorConfig.editorconfig
/OOP Lesson4/OOP Lesson4/obj/Debug/net5.0/OOP Lesson4.csproj.CoreCompileInputs.cache
/Lesson 4.2/.vs/Lesson 4.2/DesignTimeBuild/.dtbcache.v2
/Lesson 4.2/.vs/Lesson 4.2/v16/.suo
/Lesson 4.2/Lesson 4.2/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
/Lesson 4.2/Lesson 4.2/obj/Debug/net5.0/Lesson 4.2.AssemblyInfo.cs
/Lesson 4.2/Lesson 4.2/obj/Debug/net5.0/Lesson 4.2.AssemblyInfoInputs.cache
/Lesson 4.2/Lesson 4.2/obj/Debug/net5.0/Lesson 4.2.assets.cache
/Lesson 4.2/Lesson 4.2/obj/Debug/net5.0/Lesson 4.2.csproj.AssemblyReference.cache
/Lesson 4.2/Lesson 4.2/obj/Debug/net5.0/Lesson 4.2.GeneratedMSBuildEditorConfig.editorconfig
/Lesson 4.2/Lesson 4.2/obj/Lesson 4.2.csproj.nuget.dgspec.json
/Lesson 4.2/Lesson 4.2/obj/Lesson 4.2.csproj.nuget.g.props
/Lesson 4.2/Lesson 4.2/obj/Lesson 4.2.csproj.nuget.g.targets
/Lesson 4.2/Lesson 4.2/obj/project.assets.json
/Lesson 4.2/Lesson 4.2/obj/project.nuget.cache
/OOP Lesson4/.vs/OOP Lesson4/DesignTimeBuild/.dtbcache.v2
/Lesson 4.2/Lesson 4.2/Program.cs
/Lesson 4.2/Lesson 4.2/Building.cs
/Lesson 4.2/Lesson 4.2/Lesson 4.2.csproj
/Lesson 4.2/Lesson 4.2.sln
/Lesson 4.2/Lesson 4.2/bin/Debug/net5.0/Lesson 4.2.deps.json
/Lesson 4.2/Lesson 4.2/bin/Debug/net5.0/Lesson 4.2.runtimeconfig.dev.json
/Lesson 4.2/Lesson 4.2/bin/Debug/net5.0/Lesson 4.2.runtimeconfig.json
/Lesson 4.2/Lesson 4.2/obj/Debug/net5.0/Lesson 4.2.csproj.CoreCompileInputs.cache
/Lesson 4.2/Lesson 4.2/obj/Debug/net5.0/Lesson 4.2.csproj.FileListAbsolute.txt
/Lesson 4.2/Lesson 4.2/obj/Debug/net5.0/Lesson 4.2.genruntimeconfig.cache
/OOP Lesson 5.1/.vs/OOP Lesson 5.1/v16/.suo
/OOP Lesson 5.1/OOP Lesson 5.1/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
/OOP Lesson 5.1/OOP Lesson 5.1/obj/Debug/net5.0/OOP Lesson 5.1.AssemblyInfo.cs
/OOP Lesson 5.1/OOP Lesson 5.1/obj/Debug/net5.0/OOP Lesson 5.1.AssemblyInfoInputs.cache
/OOP Lesson 5.1/OOP Lesson 5.1/obj/Debug/net5.0/OOP Lesson 5.1.assets.cache
/OOP Lesson 5.1/OOP Lesson 5.1.sln
/OOP Lesson 5.1/OOP Lesson 5.1/obj/Debug/net5.0/OOP Lesson 5.1.csproj.AssemblyReference.cache
/OOP Lesson 5.1/OOP Lesson 5.1/obj/Debug/net5.0/OOP Lesson 5.1.GeneratedMSBuildEditorConfig.editorconfig
/OOP Lesson 5.1/OOP Lesson 5.1/obj/OOP Lesson 5.1.csproj.nuget.dgspec.json
/OOP Lesson 5.1/OOP Lesson 5.1/obj/OOP Lesson 5.1.csproj.nuget.g.props
/OOP Lesson 5.1/OOP Lesson 5.1/obj/OOP Lesson 5.1.csproj.nuget.g.targets
/OOP Lesson 5.1/OOP Lesson 5.1/obj/project.assets.json
/OOP Lesson 5.1/OOP Lesson 5.1/obj/project.nuget.cache
/OOP Lesson 5.1/OOP Lesson 5.1/OOP Lesson 5.1.csproj
/OOP Lesson 5.1/.editorconfig
/OOP Lesson 5.1/OOP Lesson 5.1/bin/Debug/net5.0/OOP Lesson 5.1.deps.json
/OOP Lesson 5.1/OOP Lesson 5.1/bin/Debug/net5.0/OOP Lesson 5.1.runtimeconfig.dev.json
/OOP Lesson 5.1/OOP Lesson 5.1/bin/Debug/net5.0/OOP Lesson 5.1.runtimeconfig.json
/OOP Lesson 5.1/OOP Lesson 5.1/obj/Debug/net5.0/OOP Lesson 5.1.csproj.CoreCompileInputs.cache
/OOP Lesson 5.1/OOP Lesson 5.1/obj/Debug/net5.0/OOP Lesson 5.1.csproj.FileListAbsolute.txt
/OOP Lesson 5.1/OOP Lesson 5.1/obj/Debug/net5.0/OOP Lesson 5.1.genruntimeconfig.cache
/OOP Lesson 5.1/.vs/OOP Lesson 5.1/DesignTimeBuild/.dtbcache.v2
/OOP Lesson 5.2/.vs/OOP Lesson 5.2/v16/.suo
/OOP Lesson 5.2/OOP Lesson 5.2/bin/Debug/net5.0/OOP Lesson 5.2.deps.json
/OOP Lesson 5.2/OOP Lesson 5.2.sln
/OOP Lesson 5.2/OOP Lesson 5.2/bin/Debug/net5.0/OOP Lesson 5.2.runtimeconfig.dev.json
/OOP Lesson 5.2/OOP Lesson 5.2/bin/Debug/net5.0/OOP Lesson 5.2.runtimeconfig.json
/OOP Lesson 5.2/OOP Lesson 5.2/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
/OOP Lesson 5.2/OOP Lesson 5.2/obj/Debug/net5.0/OOP Lesson 5.2.AssemblyInfo.cs
/OOP Lesson 5.2/OOP Lesson 5.2/obj/Debug/net5.0/OOP Lesson 5.2.AssemblyInfoInputs.cache
/OOP Lesson 5.2/OOP Lesson 5.2/obj/Debug/net5.0/OOP Lesson 5.2.assets.cache
/OOP Lesson 5.2/OOP Lesson 5.2/obj/Debug/net5.0/OOP Lesson 5.2.csproj.AssemblyReference.cache
/OOP Lesson 5.2/OOP Lesson 5.2/obj/Debug/net5.0/OOP Lesson 5.2.csproj.CoreCompileInputs.cache
/OOP Lesson 5.2/OOP Lesson 5.2/obj/Debug/net5.0/OOP Lesson 5.2.csproj.FileListAbsolute.txt
/OOP Lesson 5.2/OOP Lesson 5.2/obj/Debug/net5.0/OOP Lesson 5.2.GeneratedMSBuildEditorConfig.editorconfig
/OOP Lesson 5.2/OOP Lesson 5.2/obj/Debug/net5.0/OOP Lesson 5.2.genruntimeconfig.cache
/OOP Lesson 5.2/OOP Lesson 5.2/obj/OOP Lesson 5.2.csproj.nuget.dgspec.json
/OOP Lesson 5.2/OOP Lesson 5.2/obj/OOP Lesson 5.2.csproj.nuget.g.props
/OOP Lesson 5.2/OOP Lesson 5.2/obj/OOP Lesson 5.2.csproj.nuget.g.targets
/OOP Lesson 5.2/OOP Lesson 5.2/obj/project.assets.json
/OOP Lesson 5.2/OOP Lesson 5.2/obj/project.nuget.cache
/OOP Lesson 5.2/OOP Lesson 5.2/OOP Lesson 5.2.csproj
